.App {
  text-align: center;
}

.carlos{
  width: 700px;
  height: 500px;
  background-color: blue;
  margin:auto;
  margin-top: 20px;
  color: black!important;
}

.fondo{
  background-color: burlywood;
}